<%layout("/layouts/boilerplate")%>
<body>
     <h3>edit your Listing </h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">

        <input type="text" value="<%=listing.title%>" name="Listing[title]">
        <br>
        <br>
        <textarea name="Listing[description]"  id=""><%=listing.description%></textarea>
        <br>
        <input type="text" value="<%=listing.image%>" name="Listing[image]">
        <br>
        <br>
        <input type="text" value="<%=listing.country%>" name="Listing[country]">
        <br>
        <br>
        <input type="text" value="<%=listing.location%>" name="Listing[location]">
        <br>
        <br>
        <input type="number" value="<%=listing.price%>" name="Listing[price]">
        <br>
        <br>
        <button>upadte</button>
    </form>
    
    
</body>
